.footer {
    background-color: black;
    text-align: center;
    color: white;
}
.footer_logo {
    width: 15rem;
}


.footer .copy {
    color: rgb(88, 86, 86);
    font-weight: 100;
    font-size: 1rem;
    padding: 1rem;
}
