.buy_now {
    padding: 5rem 0;
    display: grid;
    background-color: rgba(36, 35, 35, 0.459);
    grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(8rem, 14rem)) minmax(2rem, 1fr);
}
.buy_now .content {
    grid-column: 2/8;
}
.content .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 2rem;
}
.form input {
    padding: 1rem;
    font-size: 1.2rem;
    outline: none;
}
.buy_now .cta {
    text-align: right;
    padding: 1rem;
}
.cta button {
    padding: 1.5rem 3rem;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 1rem white;
    color: black;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .4s;
    margin-left: 1rem;
}
.cta .back {
    background-color: rgba(43, 42, 42, 0.849);
    color: white;
    box-shadow: 3px 5px 1rem black;
}

.cta button:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 5px 1rem black;
}

@media only screen and (max-width: 485px) {
    .buy_now {
        padding: 5rem 0;
        display: grid;
        background-color: rgba(36, 35, 35, 0.459);
        grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(8rem, 14rem)) minmax(2rem, 1fr);
    }
    .content .form {
        display: flex;
        flex-direction: column;
    }
    .content .form input {
        margin-bottom: 1rem;
    }
}